*,
::before,
::after{
    margin: 0;
    padding: 0;
    /* 这个属性只用于iOS (iPhone和iPad)。
        当你点击一个链接或者通过Javascript定义的可点击元素的时候，
        它就会出现一个半透明的灰色背景 
    */
    -webkit-tap-highlight-color: transparent;
    /* 以border开始计算宽度 */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    /* sans-serif 手机默认的颜色 */
    font-family: "Microsoft YaHei",sans-serif;
    /* 解决标签格式化之后产生的空格 */
    font-size: 0;  
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
input,textarea{
    border: none;
    resize: none;
    /* 清除选中效果 */
    outline: none;
    /* 消除输入框和按钮的原生外观，在iOS上加上这个属性才能给按钮和输入框自定义样式 */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}
/* 清除浮动 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
[class^='icon_']{
    background: url('../images/sprites.png') no-repeat;
    background-size: 200px 200px;
}
